{% extends 'base.html' %}
{% block title %} blog {% endblock %}
{% block body %}
    <div>
        {% for post in all_posts %}
            <div class="post">
                <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </h1>
                <div>
                    <h2>by {{ post.author }} on {{ post.published }}</h2>
                    <a href="{{ post.category.get_absolute_url }}"> in {{ post.category }} </a>
                </div>
                <hr>
                    {{ post.content | truncatewords:50 | linebreaks }}
                </hr>

            </div>
        {% endfor %}
        {% include 'paginator.html' with page=all_posts %}
    </div>
{% endblock %}