{% extends 'base.html' %}
{% block title %} The Boring Blog {% endblock %}
{% block body %}
{% load staticfiles %}
    <div>
        {% for post in all_posts %}
            <div class="row post">
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title"><a>{{ post.title }}</a></span>
                      <span class="date-author">Written by: {{ post.author }} on {{ post.published }}</span>
                      <div class="chip">
                        <a href="{{ post.category.get_absolute_url }}"> in {{ post.category }} </a>
                        <i class="close material-icons">close</i>
                      </div>
                      <hr>
                      <p>{{ post.content | truncatewords:50 | linebreaks }}</p>
                    </div>
                    <div class="card-action">
                      <a href="#">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      </a>
                      <a href="#">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                      </a>
                      <a href="{{ post.get_absolute_url }}">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}
          {% include 'paginator.html' with page=all_posts %}
    </div>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
{% endblock %}
