{% extends 'base.html' %}
{% block title %} {{ post.title }} : {{ post.author }} {% endblock %}
{% block body %}
{% load staticfiles%}
      <div class="row post">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title"><a>{{ post.title }}</a></span>
                <span class="date-author">by {{ post.author }} on {{ post.published }}</span>
                <div class="chip">
                  <a href="{{ post.category.get_absolute_url }}"> in {{ post.category }} </a>
                  <i class="close material-icons">close</i>
                </div>
                <hr>
                <p>{{ post.content | linebreaks }}</p>
              </div>
              <div class="card-action">
                <a href="#">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>
                <a href="{%  url 'blogview:blog' %}">
                  Go Back to Home
                </a>
              </div>
            </div>
          </div>
      </div>

        <div id="disqus_thread"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://only4.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
        </div>

        <audio controls autoplay style="display: none;">
            <source src="{{ post.music_link }}">
            You are seeing this if native audio playback is not supported.
        </audio>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
{% endblock %}
